@import "./modules/sections/home.scss";



@font-face {
    font-family: "titles";
    src: url(../../public/fonts/Questrial-Regular.ttf);
}
@font-face {
    font-family: "navbar";
    src: url(../../public/fonts/NotoSans-Regular.ttf);
    
}
@font-face {
    font-family: "paragraph";
    src: url(../../public/fonts/Roboto-Regular.ttf);

}