
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$gold :#CDA45E;
$white : rgb(255 255 255 / 70%)  ;
$dark-gray : #636260;
$gray :#B6B9B2 ;




$custom-colors: (
  "gold": $gold,
  "white":$white,
  "dark-gray":$dark-gray,
  "gray":$gray
 
  
);

$theme-colors: map-merge($custom-colors , $theme-colors);

$spacer : 1vh;
@for $i from 1 through 100 {
  $spacers: map-merge($spacers, ($i : $spacer * $i));
}
