.event{
    background-image: url(../../../../public/images/events-bg.jpg);
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.event::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}

.carousel__items >img{
width: 546px;
}

.party-special{
    color: $white;
    font-weight: 800;
}


@media (max-width:480px) {
    
.carousel__items >img{
width: 350px !important;
}
}