

.specials {
    padding: 5vh 0;
    background: #0C0B09;
}

.specials-label {
    color: $gray;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    position: relative;
}

.specials-label::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 120px;
    background-color: $gold;
    top: 50%;
    margin-left: 15px;
}

.specials-title {
    color: $gold;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.filters-sac {
    border-right: 1px solid $gold;
}

.tab-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-item {
    background-color: #0C0B09;
    margin-bottom: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-item a {
    display: block;
    padding: 15px 20px;
    color: #ffff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tab-item a:hover {
    color: $gold;
}

.tab-item.active {
    background-color: $gold;

}

.tab-item.active a {
    color: #0C0B09 !important;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

.content-box {
    height: 100%;
}

.content-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.content-subtitle {
    color: $gray;
    font-style: italic;
    margin-bottom: 20px;
}

.content-text {
    color: $gray;
    line-height: 1.6;
}

.image-box {
    border-radius: 50%;
    overflow: hidden;
     max-width: 100%;
    width: 320px;
    height: 320px;
    margin-left: auto;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-box {
        margin: 30px auto 0;
        width: 200px;
        height: 200px;
    }

    .specials-label::after {
        width: 80px;
    }
}
@media (max-width: 480px) { 
    .image-box {
        width: 150px; 
        height: 150px;
    }
}